certifi==2017.7.27.1
chardet==3.0.4
idna==2.6
numpy==1.14.0
oauthlib==2.0.2
pandas==0.22.0
python-dateutil==2.6.1
pytz==2017.3
PyYAML==5.4
requests==2.20.0
requests-oauthlib==0.8.0
scikit-learn==0.19.1
scipy==1.0.0
six==1.10.0
sklearn==0.0
terminaltables==3.1.0
trakt==2.7.2
urllib3==1.26.5
